body{
    background-color: #5b1f00;
    /* color de fondo tenido en cuenta 
    #5b1f00
     */
}
.header_estilo{
    background-color: #b96e48;
    /* height: 100px; */
}
.nav_estilo{
    text-align: center;
    display: flex;
    align-items: center;
}
.div_nav{
    background-color: #8d4925;
    margin: 2px;
    height: 60px;
}
.div_nav a{
    color: black;
}
header svg{
    color: black;
}

/* Color del main:
    #e6966e
*/
.article_estilo{
    background-color: #e6966e;
}